<mat-nav-list>
  <mat-list role="list">
      <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/home">
          <!-- <mat-icon matListItemIcon>message</mat-icon> -->
          <a>Home</a>
      </mat-list-item>
      <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/favourite">
          <!-- <mat-icon matListItemIcon>event</mat-icon> -->
          <a>Favourite</a>
      </mat-list-item>
      <mat-list-item role="listitem" [routerLinkActive]="['active']" routerLink="/products">
        <!-- <mat-icon matListItemIcon>event</mat-icon> -->
        <a>Product Management</a>
    </mat-list-item>
  </mat-list>
</mat-nav-list>