.details{
    float: right;
    width: 60%;
    margin-top: 2%;
}
.container{
    margin-top: 2%;
}

.buy-button{
margin-left: 2%;
}

.icon {
    color: rgb(190, 188, 188);
    cursor: pointer;
}
    
    .icon:hover {
        color: red;

  }
 