.example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    width: 700px;
    text-align: center;
    margin-left: 50px;
    margin-top: 90px;
    margin-bottom: 68px;
    background-color: transparent;
    border: none;
  }
  mat-label{
    margin-top: 50px;
  }

  button{
    background-color: transparent;
    border: none;
    color: white;
  }

  