.add-btn{
  float:right;
  margin-top: 1%;
  margin-right:1%;
}
.edit{
  float:right;
  margin-top:5%;
  
}
.delete{
  float:right;
  margin-top:5%;
  
}
table{
  margin-top: 5%;
}
.btn{
  background-color: transparent ;
  border: none;
}